.panel, .form-control, .btn{
	border-radius: 0 !important;
}
@media (min-width: 768px) {
    #wrapper {
        padding-left:0 !important;
    }
}

.panel{
	padding:20px;
}

.navbar-inverse {
    background-color: #0C152A;
}

.fa.pointer{
	cursor: pointer;
}

td:first-child {
    font-size: 14px;
    color: #02779E;
}

tr:first-child>th:not(:first-child) {
    color: #eb540a;
    font-size: 13px;
}