<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
                        <i class="fa fa-fw fa-dashboard"></i> 
                            Top 10 of the factor
                        </h1>
        <!-- <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> Dashboard
                            </li>
                        </ol> -->
    </div>
</div>
<!-- /.row -->
<!-- <div class="row">
                    <div class="col-lg-12">
                        <div class="alert alert-info alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <i class="fa fa-info-circle"></i> <strong>Like SB Admin?</strong> Try out <a href="http://startbootstrap.com/template-overviews/sb-admin-2" class="alert-link">SB Admin 2</a> for additional features!
                        </div>
                    </div>
                </div> -->
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <form class="form-inline" role="form">
                <div class="form-group">
                    <label for="stateSelector">Select The Factor</label>
                    <select name="" id="stateSelector" class="form-control" ng-model="selectedStateId" ng-change="healthyTracker.updateSelectedState(selectedStateId)">
                        <option ng-repeat="state in healthyTracker.usAllStates | orderBy" value="{{state.id}}">
                            {{state.name}}
                        </option>
                    </select>
                </div>
                <button type="button" ng-click="healthyTracker.addCountyToCompare()" class="btn btn-primary">Add to compare</button>
            </form>
            <div class="panel-body">
                <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                <div id="chart_div"></div>
            </div>
        </div>
    </div>
</div>
